@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Farmtrack</h1>
    
</div>

<p>
    <a asp-controller="Reminders" asp-action="Index">View Upcoming Reminders</a>
</p>

<a href='@Url.Action("Index", "Weather")'>View Weather Information</a>