@{
    ViewData["Title"] = "Reminders";
}



<h2>Upcoming Reminders</h2>

<body>
@if (ViewBag.Reminders.Count > 0)
{
    <ul>
        @foreach (var reminder in ViewBag.Reminders)
        {
            <li>@reminder</li>
        }


    </ul>
}
else
{
    <p>No reminders at this time.</p>
}
</body>

