html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/images/Farmtrack.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-areas:
        "header header header header"
        "menu main main main"
        "footer footer footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
    color: black;
   
}

h1, h2 {
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.5);
    background-color: transparent !important;
    border: none;
    
}



header {
    grid-area: header;  
    text-align: center;
}

main {
   
    grid-area: main;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-grow: 1;
}

aside {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f8f9fa;
    border-right: 1px solid #ccc;
    gap: 15px;
}

#mobile-menu {
    display: none; 
}


footer {
    grid-area: footer;
    
    padding: 10px;
    text-align: center;
    height: auto; 
}

.btn span {
    display: inline; 
}

.btn i {
    margin-right: 5px; 
}

a{
    color: #000000;
}

table.table, table.table th, table.table td {
    background-color: transparent !important;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
}

    table.table thead th {
        background-color: rgba(255, 255, 255, 0.8) !important; 
        font-size: 30px;
    }

    table.table tbody tr:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.6) !important;
        font-size: 30px;
    }

    table.table tbody tr:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.6) !important; 
        font-size: 30px;
    }



.rounded-reminder-container li {
    padding: 10px;
    
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 5px 0;
    border-radius: 8px;
    position: relative;
    color: black;
    width: 20%;
}
  

    


      

@media (max-width: 767px) {

    #mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        width: auto;
        grid-area: mobile-menu;
        
        
    }

    .hide-mobile {
        display: none;
    }

    aside {
        display: none; 
    }

    body {
        grid-template-areas:
            "header header header header"
            "mobile-menu mobile-menu mobile-menu mobile-menu"
            "main main main main"
            "footer footer footer footer";
        grid-template-columns: 1fr; 
    }

    .btn span {
        display: none;
    }

    .btn i {
        margin-right: 0; 
    }

    .rounded-reminder-container li {       
        width: 100%;
    }
}
